<% @markers.each do |marker| %>
      <tr>
        <td><%= marker.name %></td>
        <td><%= marker.url %></td>
        <td><%= marker.subcategory %></td>
        <td><%= link_to 'Show', marker %></td>
        <td><%= link_to 'Edit', edit_marker_path(marker) %></td>
        <td><%= link_to 'Destroy', marker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>