<%= form_with(model: marker, local: false) do |form| %>
  <% if marker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(marker.errors.count, "error") %> prohibited this marker from being saved:</h2>

      <ul>
      <% marker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :subcategory_id %>
    <%= form.collection_select :subcategory_id, @subcategories, :id, :name %> 
  </div>

  <div class="actions">
    <%= form.submit 'Create Mark', data: { confirm: 'Are your sure?' } %>
  </div>
<% end %>
